<form action="/search" method="post">
  <input name="movie">
  <input type="submit" value="Search">
</form>

<% if @api_hash %>
  <p>Found <%= @api_hash["total_results"] %> result<%="s" if @api_hash["results"].count > 1 || @api_hash["results"].count == 0 %></p>
  
  <% @api_hash["results"].each do |movie| %>
    <section class="movies">
      <%= movie["title"] %>
      <p>Release Date: <%= movie["release_date"] %></p>
    </section>
  <% end %>


<% if @page != 1 %>
  <a href="/search?movie=<%= @movie_title %>&page=<%= @page.to_i - 1%>">Previous page</a>
<% end %>

<% if @page.to_i != @api_hash["total_pages"].to_i %>

<%= puts @page %>
<%= puts @api_hash["total_pages"].to_i %>

  <a href="/search?movie=<%= @movie_title %>&page=<%= @page.to_i + 1%>">Next page</a>
<% end %>


<% end %>